# Python
__pycache__/
*.py[cod]
*.egg-info/
*.env
.env

# Virtual environment
venv/git
env/
ENV/

# Logs
*.log

# IDE/Editor configs
.vscode/
.idea/
*.swp

# OS junk
.DS_Store
Thumbs.db

# testing stuff
test.py
.venv/
.env
__pycache__/db.cpython-313.pyc
.gitignore
__pycache__/generate_data.cpython-313.pyc
tracks/__pycache__/mock_transactions.cpython-313.pyc
tracks/cleaned_merchant_ids_final.txt
notification_test.py
