# Python
__pycache__/
*.py[cod]
*.egg-info/
*.env
.env

# Virtual environment
venv/git
env/
ENV/

# Logs
*.log

# IDE/Editor configs
.vscode/
.idea/
*.swp

# OS junk
.DS_Store
Thumbs.db

# testing stuff
test.py